body {
	background-color: #fffff0;
}

.footer {
	text-align: center;
}

#hours, #locations, #products {
	border: 2px solid #fffff0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 25px;
	border-collapse: collapse;
}

#hours td, #locations td {
	border: 1px solid #fffff0;
	padding: 5px;
}

#products td {
	border-right: 2px solid #fffff0;
	padding: 5px;
}

#products th {
	border-bottom: 2px solid #fffff0;
}


/*--Navigation CSS--*/
nav {
	padding-bottom: 25px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #FEFF2D;
	font-family: arial, sans-serif;
}

nav li {
	float: left;
}

.navigation {
	display: block;
	color: white;
	background-color: #9B0100;
	text-align: center;
	padding: 15px 20px;
	font-weight: bold;
}

nav li a {
	display: block;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 15px 20px;
}

nav li a:hover {
	background-color: #9B0100;
	color: white;
}

nav li a:selected {
	background-color: #9B0100;
	color: white;
}

.main-content {
	border: 2px solid black;
	padding: 15px;
	margin: 15px;
	background-color: #4C0908;
	color: #fffff0 ;
}

.process-image {
	width: 33%;
	height: 250px;
}