
#productpicture {
    padding: 20px;
    margin: 15px;
    max-width: 700px;
    border-style: dotted;
    border-width: 5px;
    border-color: #EB7F23;
    }

p {
    font-size: 18px;
    text-indent: 30px;
    font-family: arial, sans-serif;
    padding: 15px;
}

.oneline {
    text-align: center;
    font-size: 25px;
    font-family: arial, sans-serif;
    padding: 10px;
    border-style: dotted;
    border-width: 5px;
    border-color: #068675;
    }

table {  /* focus on store hours and locations table */
}



nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #6B202E;
    font-family: arial, sans-serif;
    }

nav li {
    float: left;
    }
    
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    }

nav li a:hover {
    background-color: #CF4232;
    }
